@import "common.scss";

er-canvas {
  display: block;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.5s;

  &.pg-canvas-display {
    opacity: 1;
    left: 0;
  }
}

.pg-main-canvas {
  position: relative;
  background: $color-light;
  width: 100%;
  height: 100%;
}

.pg-canvas-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pg-canvas-table {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  font-family: RictyDiminished;
  cursor: default;
  cursor: default;

  & > section {
    display: block;
    border: 1px solid #ccc;
    border-radius: $border-radius-table + 1px;
  }

  & header {
    border-bottom: 1px solid #ccc;
    padding: $space-0;
    border-top-left-radius: $border-radius-table;
    border-top-right-radius: $border-radius-table;

    & h1 {
      margin: 0;
      font-size: $size-font-table-title;
    }
  }

  & main {
    padding: $space-0;
    border-bottom-left-radius: $border-radius-table;
    border-bottom-right-radius: $border-radius-table;

    & ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      & h2 {
        margin: 0;
        font-size: $size-font-table-column;
      }
    }
  }

  & footer {
    border-bottom-left-radius: $border-radius-table;
    border-bottom-right-radius: $border-radius-table;
  }
}
