@font-face {
  font-family: CamptonBold;
  src: url("../fonts/Campton-BoldDEMO.otf") format("opentype"); }

@font-face {
  font-family: CamptonLight;
  src: url("../fonts/Campton-LightDEMO.otf") format("opentype"); }

@font-face {
  font-family: RictyDiminished;
  src: url("../fonts/RictyDiminished-Regular.ttf") format("truetype"); }

.sg-container {
  background: #0AA2E4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

er-canvas {
  display: block;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.5s; }
  er-canvas.pg-canvas-display {
    opacity: 1;
    left: 0; }

.pg-main-canvas {
  position: relative;
  background: #FFFFFF;
  width: 100%;
  height: 100%; }

.pg-canvas-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.pg-canvas-table {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  font-family: RictyDiminished;
  cursor: default;
  cursor: default; }
  .pg-canvas-table > section {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px; }
  .pg-canvas-table header {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .pg-canvas-table header h1 {
      margin: 0;
      font-size: 14px; }
  .pg-canvas-table main {
    padding: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
    .pg-canvas-table main ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .pg-canvas-table main ul h2 {
        margin: 0;
        font-size: 12px; }
  .pg-canvas-table footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
