@font-face {
  font-family: CamptonBold;
  src: url("../fonts/Campton-BoldDEMO.otf") format("opentype"); }

@font-face {
  font-family: CamptonLight;
  src: url("../fonts/Campton-LightDEMO.otf") format("opentype"); }

@font-face {
  font-family: RictyDiminished;
  src: url("../fonts/RictyDiminished-Regular.ttf") format("truetype"); }

.sg-container {
  background: #0AA2E4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

er-setting {
  font-family: RictyDiminished; }

.pg-canvas-setting-filter {
  position: fixed;
  width: 100%;
  height: 100%; }

.pg-canvas-setting-row {
  display: table; }
  .pg-canvas-setting-row + .pg-canvas-setting-row {
    margin-top: 10px; }
  .pg-canvas-setting-row > div {
    display: table-cell;
    table-layout: fixed;
    padding: 0 5px; }
  .pg-canvas-setting-row label {
    font-size: 12px;
    margin-bottom: 5px;
    display: block; }

er-setting-column {
  display: block;
  background: #FFFFFF;
  border-radius: 3px;
  position: fixed;
  opacity: 0;
  height: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 3px;
  transition: height 0.5s, opacity 0.5s padding 0.5s; }
  er-setting-column input {
    height: 0;
    padding: 0;
    border: none; }
  er-setting-column.show {
    opacity: 1;
    padding: 5px;
    height: auto; }
    er-setting-column.show input {
      height: auto;
      padding: 5px;
      border: 1px solid #ccc; }
    er-setting-column.show select {
      -webkit-appearance: none;
      height: auto;
      padding: 5px;
      border: 1px solid #ccc; }
