<er-setting-column>
  <div class="pg-canvas-setting-row">
    <div>
      <label>logical name</label>
      <input type="text" name="logicalName" oninput={onInputLogicalName}>
    </div>
    <div>
      <label>physical name</label>
      <input type="text" name="physicalName" oninput={onInputPhysicalName}>
    </div>
  </div>
  <div class="pg-canvas-setting-row">
    <div>
      <label>type</label>
      <select size=1>
        <option>int</option>
      </select>
    </div>
  </div>
</er-setting-column>
